@import "variables";

@font-face {
  font-family: 'SansBlack';
  src: url('/assets/sans-black.woff');
}

@font-face {
  font-family: 'MonoRegular';
  src: url('/assets/mono-regular.woff');
}

@font-face {
  font-family: 'MonoBlack';
  src: url('/assets/mono-black.woff');
}

.header {
  text-align: center;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}
.App {
  text-align: center;
}

.App-header {
  background-color: #004C3F;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
  padding: 10px;
  margin: 10px;
}

/* new css for movie component */

* {
  box-sizing: border-box;
  font-family: MonoRegular;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.movie-img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 5px;
}

.App-header h2 {
  margin: 0;
}

.add-movie {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 60px;
  cursor: pointer;
  border-radius: 0px;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

Button[type="submit"]:hover {
  background-color: #004C3F;
  color: #FBF7ED;
  border: 1px solid black;
}

.movie {
  padding: 5px 25px 10px 25px;
  margin: 10px 20px 10px 20px;
  max-width: 25%;
  border: 1px solid black;
  color: #002E25;
  border-radius: 0px
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #004C3F;
  color: #FBF7ED;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
